<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://style.chef.io/dist/0.1.8/javascripts/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="https://style.chef.io/dist/0.3.0/stylesheets/chef.css">
    <script src="/common.js"></script>
    <link rel="stylesheet" type="text/css" href="/common.css">
  </head>
  <body>
    <a class="logo"></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>
    <script src="https://style.chef.io/dist/0.3.0/javascripts/chef.js"></script>
    <script>
      $(document).chef({
        assets: {
          images: 'https://style.chef.io/assets/images'
        }
      });
    </script>

    <h1>Welcome to <%= class_name %></h1>

    <hr>
    <%= erb :instructor_actions %>
    <hr>

    <h2>Student machines</h2>
    <%= erb :student_machines %>
    <hr>

    <h2>Chef Server</h2>
    <%= erb :chef_server %>
    <hr>

    <h2>Credentials for students</h2>
    <%= erb :credentials %>

  </body>
</html>
